html, body, #root, .main{
  height: 100%;
  margin: 0px
}

/* container for the logged out users*/
#main{
  padding-top: 20px;
  font-size: 20px;
  line-height: 25px;
}

.main{
  display: flex;
  flex: 1 100%;
}

.content-center{
  display: flex;
  align-items: center;
}

.column{
  display: flex;
  flex-direction: column;
}

.single{
  flex: 1
}

.auth > input{
  height: 28px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555;
  border: 1px solid #ccc;

  margin-bottom: 5px
}

.btn{
  margin-top: 7px;
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  cursor: pointer
}

.auth > button {
  height: 36px;
}

.errors {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  border-width: 1px;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.42857143;
  text-align: center;
}

/* the current choosen category */
#choosen{
  border-bottom: 1px solid #757575;
}

#choosen > .inline{
  display: flex;
  flex-direction: row;
}
#choosen > .inline > button{
  display: flex !important;
  flex-grow: 1;
}

#choosen > .inline > button > div{
  margin: 0 auto;
}

#choosen > .inline > button > div > span{
  padding-left: 0px!important;
  padding-right: 0px!important;
    font-size: 13px !important
}

#choosen > .title{
  color: #009688;
  font-size: 20px;
  font-family: Roboto, sans-serif;
  cursor: pointer;
  text-align: center;
  margin-top: 18px;
  margin-bottom: 10px;
}

#choosen > input {
  color: #4DB6AC !important;
  border: 0;
}


#choosen > input:focus{
  outline: none;
}

.starred {
  color: rgb(229, 115, 115) !important;
}

.archived{
  color: #424242 !important;
}

.category{
  cursor: pointer
}

.post{
  margin-bottom: 10px;
  margin-right: 60px
}

.post-title{
  text-decoration: none;
  color: black;
  word-wrap: break-word;
}

a:hover{
  text-decoration: none;
  color: #009688 !important
}

.link{
  font-size: 17px;
  margin-bottom: 5px;
  font-weight: normal;
  line-height: 21.6px;
}

.post > .link {
  font-size: 18px;
  color: #ab0d0d;
  text-decoration: none;
}

.post > .link:hover {
  text-decoration: none;
}

.post > button{

}

.helpers{
    margin-top: -3px;
    margin-left: -3px;
    display: flex;
    flex-direction: row;
}

.helpers > span{
  cursor: pointer;
}

.helpers > span:hover{
  text-decoration: underline;
}

#side-menu{
  display: flex;
  flex-direction: column;
  flex: 2;
  max-height: 100%;
  border-right: 1px solid #757575;
}

#categories{
  overflow-y: auto;
  overflow-x: hidden;
}

#content{
  flex: 10;
  overflow-y: auto;
}

.content{
  padding: 20px;
}

.search{
  z-index: 10;
  padding: 10px;
  width: 200px;
  background-color: #FFFFFF;
  position: absolute;
  right: 10px;
  -webkit-border-radius: 0px 0px 5px 5px;
  -moz-border-radius: 0px 0px 5px 5px;
  border-radius: 0px 0px 5px 5px;
  border:1px solid #CCCCCC;
  border-top-width: 0px;
  display: flex;
  align-items: center;
}

.search > input{
  width: 84%;
}

.react-tagsinput{
  margin-top: -3px;
  margin-left: 5px;
}

.react-tagsinput-disabled{
  padding-left: 5.6px;
  padding-right: 5.6px;
}

/*.react-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  overflow: hidden;
  padding-left: 5px;
  padding-top: 5px;
}*/

/*.react-tagsinput--focused {
  border-color: #a5d24a;
}*/

.react-tagsinput-tag {
  background-color: #cde69c;
  border-radius: 2px;
  border: 1px solid #a5d24a;
  color: #638421;
  display: inline-block;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin-right: 5px;
  padding: 2px;
}

.react-tagsinput-disabled > span > .react-tagsinput-tag{
  padding-left: 7.6px;
  padding-right: 7.6px;
}

.react-tagsinput-remove {
  cursor: pointer;
  font-weight: bold;
}

.react-tagsinput-tag a::before {
  content: " ×";
}

.react-tagsinput-input {
  background: transparent;
  border: 0;
  color: #777;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin-top: 1px;
  outline: none;
  padding: 5px;
  width: 80px;
}
