html, body, #root, .main{
  height: 100%;
  margin: 0px
}

/* container for the logged out users*/
#main{
  padding-top: 20px;
  font-size: 20px;
  line-height: 25px;
}

.main{
  display: flex;
  flex: 1 100%;
}

.content-center{
  display: flex;
  align-items: center;

}

.column{
  display: flex;
  flex-direction: column;
}

.single{
  flex: 1
}

.auth > input{
  height: 28px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555;
  border: 1px solid #ccc;

  margin-bottom: 5px
}

.btn{
  margin-top: 7px;
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
}

.auth > button {
  height: 36px;
}

.post{
  margin-bottom: 10px
}

.link{
  font-size: 17px;
  margin-bottom: 5px;
  font-weight: normal;
  line-height: 21.6px;
}

.post > .link {
  font-size: 18px;
  color: #1a0dab;
  text-decoration: none;
}

.post > .link:hover {
  text-decoration: underline;
}

.helpers > span{
  cursor: pointer;
}

.helpers > span:hover{
  text-decoration: underline;
}

#side-menu{
  display: flex;
  flex-direction: column;
  flex: 2;
  padding: 10px;
  max-height: 100%;
  border-right: 1px solid #757575;
  align-items: center;


}

#content{
  flex: 10;
  padding: 20px;
  max-height: 100%;
  overflow-x: scroll;
}
